@layer theme {
  .theme-light {
    --color-bg: #f5f5f7;
    --color-bg-blur: #ffffffb3;
    --color-bg-card: #ffffffee;
    --color-bg-button: #fdfdfd;
    --color-border-card: #d1d5db80;
    --color-text: #313131;
    --color-muted: #666666;
    --color-primary-title: #6c6c6c;
    --color-border: #e5e7eb;
    --color-border-header: #0000000a;
  }

  .theme-dark {
    --color-bg: #0c0c0c;
    --color-bg-blur: #0c0c0cb1;
    --color-bg-card: #000000e0;
    --color-bg-button: #fdfdfd;
    --color-border-card: #3f3f3f76;
    --color-text: #fdfdfd;
    --color-muted: #9ca3af;
    --color-primary-title: #b1c8fe;
    --color-border: #202020;
    --color-border-header: #ffffff0a;
  }
}
