---
import "../styles/global.css";
const { theme = "dark", title = "Chefcloud" } = Astro.props;
---

<html lang="es" class={`theme-${theme}`}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
